<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>io.decovar</string>
	<key>CFBundleName</key>
	<string>Decovar</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IATemplateDocumentFile</key>
	<string>document</string>
	<key>IATemplateTitleFile</key>
	<string>title</string>
	<key>IATemplateFooterFile</key>
	<string>footer</string>
	<key>IATemplateFooterHeight</key>
	<integer>60</integer>
	<key>IATemplateHeaderHeight</key>
	<integer>30</integer>
	<key>IATemplateDescription</key>
	<string>A less ugly looking template</string>
	<key>IATemplateAuthor</key>
	<string>retif</string>
	<key>IATemplateAuthorURL</key>
	<string>https://retifrav.github.io</string>
</dict>
</plist>
